.modal {
  padding: 30px 20px;
  width: 80%;
  max-width: 600px;
  max-height: 80vh;
  margin: auto;
  border-radius: 16px;
  border: none;
}
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
