.searchbar_container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}
.searchbar_container > input {
  flex: 1;
  padding: 14px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.searchbar_container > button {
  min-width: 80px;
  border-radius: 4px;
  border: 0;
  padding: 14px;
  background-color: #4c7de0;
  color: #fff;
  cursor: pointer;
}
